/*header*/
.text {
    position: relative;
    top: 12px;
    left: 3px;
    font-size: 23px;
    font-weight: bolder;
    background: linear-gradient(70deg,#ff0000,#42dde2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


nav {
    background-image: url(image/sasuke.jpg);
    background-size: 405px;
    position: relative;
    top: 2px
}


/*trang chu*/
ul li1 a {
    color: white;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    left: 12.2px;
    top: 67px;
}

/*Menu*/
li2{
    color: white;
    font-weight: 70px;
    font-size: 20px;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    left: 31.5px;
    top: -103px;
}
/*hadz*/
li3{
    color: white;
    font-weight: 70px;
    text-transform: uppercase;
    list-style: none;
    position: relative;
    right: 24px;
    top: 2.5px;
}


ul li a{
    color: white;
    text-transform: uppercase;
    position: relative;
    top: 39px;
    left: 4px;
}

ul hr {
    position: relative;
    width: 197px;
    top: -36px;
    right: 40px;
    
}

b hr {
    position: relative;
    width: 197px;
    top: -128px;    
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 4;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    position: relative;
    left: 180px;
    top: -15px;
    -webkit-transition: all 0.3 ease-in-out;
    transition: all 0.3 ease-in-out;
    background-color: white;
}

@media(max-width:768px) {
    .hamburger {
        display: block;
}
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
}
    .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
    .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
}
/*menu*/
.nav-menu {
    z-index: 4;
    position: fixed;
    left: 608px;
    top: 45px;
    width: 160px;
    height: 19%;
    gap: 0;
    border-radius: 5%;
    flex-direction: column;
    background-color: transparent;
    backdrop-filter: blur(30px);
    transition: 1.5s;
}

.nav-item {
    margin: 40px 0;
    list-style: none;
}

.nav-menu.active {
    left: 107px;
}

body {
    background-color: rgb(0, 0, 0);
  position: absolute;
  left: -6px;
  top: -7px;
}
.box {
    position: relative;
    width: 410px;
    height: 1050px;
    background-color: #252424;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::after {
    content: '';
    position: absolute;
    width: 320px;
    height: 1200px;
    background-image: conic-gradient(transparent,transparent,transparent,#af1675);
    animation: animate 4s linear infinite;
    animation-delay: -2s;
}

.box::before {
    content: '';
    position: absolute;
    width: 320px;
    height: 1200px;
    background-image: conic-gradient(transparent,transparent,transparent,#00ccff);
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: rotate(0deg)
    }
    100%
{
    transform: rotate(360deg)
}
}

.box span {
    position: absolute;
    inset: 8px;
    background-color: rgb(0, 0, 0);
    z-index: 1;
}

h1 {
    color: white;
    z-index: 3;
    font-size: 23px;
    position: relative;
    top: -490px;
}

span3 {
    position: relative;
    right: 146px;
    top: 45px;
    color: #ff0000;
    display: block;
    z-index: 2;
    position: absolute;
}

hr {
    color: white;
    z-index: 2;
    position: absolute;
    width: 385px;
    top: 105px;
}

h4 {
    color: white;
    font-size: 20px;
    z-index: 2;
    position: absolute;
    left: 100.4px;
    top: 111px;
}

input {
    display: block;
    position: absolute;
    width: 87.5px;
    height: 49.6px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input{
    position: relative;
    left: 60px;
    top: 25px;
}

i {
    position: relative;
    left: 84.2px;
    top: -18px;
}

h41 {
    color: white;
    font-size: 20px;
    font-weight: 999;
    z-index: 2;
    position: absolute;
    left: 107.5px;
    top: 260px;
}

input1 {
    display: block;
    position: absolute;
    width: 87px;
    height: 46px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input1{
    position: relative;
    left: 51.3px;
    top: 25px;
}

i1 {
    z-index: 2;
    color: white;
    position: relative;
    left: 34.5px;
    top: 10px;
}

h5 {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 20px;
    top: 346px;
    left: 152.7px;
}

input2 {
    display: block;
    position: absolute;
    width: 87px;
    height: 46px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input2{
    position: relative;
    left: 4.9px;
    top: 25px;
}

i2 {
    z-index: 2;
    color: white;
    position: relative;
    right: -30.5px;
    top: 12px;
}

h6 {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 20px;
    top: 452px;
    left: 132.4px;
}

input3 {
    display: block;
    position: absolute;
    width: 86.5px;
    height: 44.5px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 10px;
}

input3{
    position: relative;
    left: 24.4px;
    top: 25px;
}

i3 {
    z-index: 2;
    color: white;
    position: relative;
    right: -30.4px;
    top: 11px;
}

h8 {
    color: white;
    z-index: 2;
    position: absolute;
    width: 349px;
    top: 500px;
    left: 11px;
}

/* ChiÌ‰nh Cert*/
h7 {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 23px;
    font-weight: 999;
    top: 637px;
    left: 109.5px;
}

input4 {
    display: block;
    position: absolute;
    width: 86.3px;
    height: 48px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input4{
    position: relative;
    left: 47px;
    top: 25px;
}

.item-media1 .app-icon {
    width: 38px;
    z-index: 2;
    position: absolute;
    left: 23.5px;
    top: 7px;
    max-width: 50%;
}

/* Esign*/

input6 {
    display: block;
    position: absolute;
    width: 86.3px;
    height: 48px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input6{
    position: relative;
    right: 120px;
    top: -18px;
}

.item-media2 .app-icon {
    width: 38px;
    z-index: 2;
    position: absolute;
    left: 22.7px;
    top: 4.5px;
    max-width: 38px;
    border-radius: 20%;
}

/* Scarlet*/

input7 {
    display: block;
    position: absolute;
    width: 86.3px;
    height: 48px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input7{
    position: relative;
    left: 117px;
    top: -66px;
}

.item-media3 .app-icon {
    width: 38px;
    z-index: 2;
    position: absolute;
    left: 22.7px;
    top: 4.5px;
    max-width: 38px;
    border-radius: 20%;
}

h9 {
    color: white;
    z-index: 2;
    position: absolute;
    right: 205px;
    top: 80px;
    left: -145px;
}

h11 {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 21px;
    font-weight: 999;
    top: 71px;
    left: 4.5px;
}

input5 {
    display: block;
    position: absolute;
    width: 84px;
    height: 46px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    background: linear-gradient(45deg,#0ce39a, #69007f,#fc0987);
    border-radius: 15px;
}

input5{
    position: relative;
    left: -4.8px;
    top: 25px;
}

i5 {
    z-index: 2;
    color: white;
    position: relative;
    right: -25.5px;
    top: 6.5px;
}

h12 {
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 25px;
    font-weight: 999;
    top: 212px;
    left: -1px;
}

i6 {
    position: absolute;
    top: 10px;
    right: 50px;
}

.icon1 {
    position: relative;
    top: 10px;
    right: 30px;
    height: auto;
    max-width: 1.3em;
    min-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1px;
    margin-inline-start: 1px;
}

.icon2 {
    position: relative;
    top: -28px;
    left: 18px;
    height: auto;
    max-width: 1.9em;
    min-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1px;
    margin-inline-start: 1px;
}

.icon3 {
    position: relative;
    top: -68px;
    left: 80px;
    height: auto;
    max-width: 1.3em;
    min-width: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1px;
    margin-inline-start: 1px;
}

h10 {
    color: red;
    position: relative;
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    position: absolute;
    left: -123px;
    top: -12px;
}

p1 {
    position: absolute;
    left: -150px;
    top: 28px;
}

footer {
    color: white;
    z-index: 2;
    position: relative;
    top: 300px;
    left: 97px;
    font-size: 16px;
}

@font-face {
    font-family: 'unicons';
    src: url('unicons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @-webkit-keyframes border-transform {
    0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; }
    14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; }
    28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; }
    42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; }
    56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; }
    70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; }
    84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; }
  }
  
  .progress-wrap {
    position: fixed;
    right: 30px;
    bottom: 40px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    border-radius: 50px;
    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.2);
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  .progress-wrap::after {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    color: #ffffff;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 1;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::after {
    opacity: 0;
  }
  
  .progress-wrap::before {
    position: absolute;
    font-family: 'unicons';
    content: '\e84b';
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    opacity: 0;
    background: #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: block;
    z-index: 2;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .progress-wrap:hover::before {
    opacity: 1;
  }
  
  .progress-wrap svg path {
    fill: none;
  }
  
  .progress-wrap svg.progress-circle path {
    stroke: #ff0000;
    stroke-width: 4;
    box-sizing: border-box;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
